<form [formGroup]="form" class="formulario">
  <app-toast
    [color]="toast.color"
    [text]="toast.text"
    [icon]="toast.icon"
    [show]="toast.show"
  ></app-toast>
<!-- Edit: {{ formEditMode}} View: {{ formViewMode }} Insert: {{ formInsertMode }} -->
  <mat-card>
    <!-- Frecuencia -->
    <div class="frecuency">
      <div class="box-frecuency gray">
        <p>Frecuencia:</p>
        <mat-form-field appearance="standard">
          <mat-label>Selecciona frecuencia</mat-label>
          <mat-select formControlName="FrecuencyId"  [disabled]="formViewMode">
            <mat-option *ngFor="let frec of frequencies | async"
            [value]="frec.id">{{frec.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="right-btns">
        <span>Combinación {{indexCombination + 1}}</span>
        <div class="btn-actions family-word">

          <div class="link" *ngIf="formViewMode">
            <span (click)="editMode()">
              <img src="../../../../assets/img/icons/Edit.svg" alt="" />
              Editar
            </span>
          </div>

          <div class="link" *ngIf="formEditMode">
            <span (click)="save()">
              <img src="../../../../assets/img/icons/Done.svg" alt="" />
              Guardar
            </span>
          </div>

          <button
            *ngIf="formEditMode"
            mat-icon-button
            aria-label="Eliminar"
            (click)="deleteCombination()"
          >
            <img src="../../../../assets/img/icons/delete.svg" alt="" />
          </button>
  
          <button
            *ngIf="formEditMode"
            mat-icon-button
            aria-label="Cancelar"
            (click)="viewMode()"
          >
            <img src="../../../../assets/img/icons/Cancel.svg" alt="" />
          </button>
        </div>
      </div>
    </div>
    <br />

    <mat-card-content>
      <div formArrayName="Parameters" class="box-catalogs">
        <div
          *ngFor="let parameter of parameters().controls; let paramIndex = index"
        >
          <div [formGroupName]="paramIndex" class="catalog">
            <p class="family-barlow">{{ parameter?.value?.name }} </p>
            <!-- <button (click)="removeParameter(empIndex)">Remove</button> -->
            <br />
            <span class="family-word">{{ parameter?.value?.description }}</span>
            <!-- {{ employee.value | json}} -->
            <br /><br />
            <!-- Values -->
            <div formArrayName="values">
              <div
                *ngFor="
                  let value of valuesOfParameter(paramIndex).controls;
                  let valueIndex = index
                "
              >
                <div [formGroupName]="valueIndex" class="box-value">
                  <!-- {{value.value | json}} -->
                  <mat-form-field appearance="legacy">
                    <!-- <mat-label>Choose one</mat-label> -->
                    <mat-select formControlName="id"  [disabled]="formViewMode">
                      <mat-option 
                        *ngFor="let enableVal of getEnabledListValuesByParam(paramIndex).value"
                        [value]="enableVal.id"
                      >
                        {{enableVal.description}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <button 
                    *ngIf="!formViewMode"
                    mat-icon-button
                    (click)="removeParameterSkill(paramIndex, valueIndex)"
                  >
                    <img src="../../../../assets/img/icons/delete.svg" alt="" />
                  </button>
                  <br />
                </div>
              </div>
              <div class="box-add-value">
                <button
                  mat-button
                  (click)="addValueToParameter(paramIndex)"
                  [disabled]="formViewMode"
                >
                  <mat-icon>add_circle</mat-icon>
                  Añadir Valor
                </button>
              </div>
            </div>
          </div>
        </div>
        <button
          class="catalog"
          mat-button
          (click)="setSelectedParameters()"
          [disabled]="formViewMode"
        >
          <mat-icon>add_circle</mat-icon>
          Añadir Parámetro
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</form>
<!-- {{ this.form.value | json }} -->
