<div class="zootechnics" method="post">
    <div class="custom-form surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
        <div class="grid">
            <div (click)="goTo('dairy')" class="card custom-form1 col-3 md:col-3 mb-3" style="width: 10rem; border-radius: 1rem; padding: 0;">
                <img class="card-img-top" src="assets/img/lechera.png" alt="">
                <div class="row card-body text-center">
                    <p>Lechera</p>
                </div>
            </div>
            <div (click)="goTo('meat')" class="card custom-form1 col-3 md:col-3 mb-3" style="width: 10rem; border-radius: 1rem; padding: 0;">
                <img class="card-img-top" src="assets/img/carnico.png" alt="">
                <div class="row card-body text-center">
                    <p>Carnico</p>
                </div>
            </div>
            <div (click)="goTo('exhibition')" class="card custom-form1 col-3 md:col-3 mb-3" style="width: 10rem; border-radius: 1rem; padding: 0;">
                <img class="card-img-top" src="assets/img/exposicion.png" alt="">
                <div class="row card-body text-center">
                    <p>Exposición</p>
                </div>
            </div>
            <div (click)="goTo('reproduction')" class="card custom-form1 col-3 md:col-3 mb-3" style="width: 10rem; border-radius: 1rem; padding: 0;">
                <img class="card-img-top" src="assets/img/reproduccion.png" alt="">
                <div class="row card-body text-center">
                    <p>Reproducción</p>
                </div>
            </div>
        </div>
    </div>
</div>