.box-content{
    padding: 1.2% 6%;
    display: grid;
    grid-gap: 30px;
    grid-row-gap: 15px;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    .mat-card{
        background-color: var(--background-gray-color);
        .mat-card-title{
            display: flex;
            justify-content: space-between;
            align-items: center;
            h4{
                margin: auto 0;
                font-weight: 900;
                font-size: 1.2rem;
            }
        }
    }
    .box-add-card{
        padding: 0 0 10% 0;
    }
}
.bg-gray{
    color: var(--gray-dark);
}
.size-font{
    font-size: 11px;
}

@media screen and (max-width: 960px) {
    .box-content{
        .box-add-card{
            padding: 0;
        }
    }
}