<div class="zootechnics" method="post">
    <div class="custom-form surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
        <div class="grid">
            <div (click)="goTo('admin')" class="card custom-form1 col-4 md:col-4 mb-4" style="width: 10rem; border-radius: 1rem; padding: 0;">
                <img class="card-img-top" src="assets/img/administracion.png" alt="">
                <div class="row card-body text-center">
                    <p>Administracion</p>
                </div>
            </div>
            <div (click)="goTo('cattle')" class="card custom-form1 col-4 md:col-4 mb-4" style="width: 10rem; border-radius: 1rem; padding: 0;">
                <img class="card-img-top" src="assets/img/ganado.png" alt="">
                <div class="row card-body text-center">
                    <p>Ganado</p>
                </div>
            </div>
            <div (click)="goTo('pens')" class="card custom-form1 col-4 md:col-4 mb-4" style="width: 10rem; border-radius: 1rem; padding: 0;">
                <img class="card-img-top" src="assets/img/corrales.png" alt="">
                <div class="row card-body text-center">
                    <p>Corrales</p>
                </div>
            </div>
            <div (click)="goTo('inventories')" class="card custom-form1 col-4 md:col-4 mb-4" style="width: 10rem; border-radius: 1rem; padding: 0;">
                <img class="card-img-top" src="assets/img/inventarios.png" alt="">
                <div class="row card-body text-center">
                    <p>Inventarios</p>
                </div>
            </div>
            <div (click)="goTo('marketPlace')" class="card custom-form1 col-4 md:col-4 mb-4" style="width: 10rem; border-radius: 1rem; padding: 0;">
                <img class="card-img-top" src="assets/img/marketplace.png" alt="">
                <div class="row card-body text-center">
                    <p>MarketPlace</p>
                </div>
            </div>
            <div (click)="goTo('registration')" class="card custom-form1 col-4 md:col-4 mb-4" style="width: 10rem; border-radius: 1rem; padding: 0;">
                <img class="card-img-top" src="assets/img/inscripcionferia.png" alt="">
                <div class="row card-body text-center">
                    <p>Inscripcion Feria</p>
                </div>
            </div>
        </div>
    </div>
</div>
