<div class="zootechnics" method="post">
    <div class="custom-form surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
        <div class="grid">
            <div (click)="goTo('vaccination')" class="card custom-form1 col-4 md:col-4 mb-4" style="width: 10rem; border-radius: 1rem; padding: 0;">
                <img class="card-img-top" src="assets/img/vacunacion.png" alt="">
                <div class="row card-body text-center">
                    <a href="">Vacunacion</a>
                </div>
            </div>
            <div (click)="goTo('attention')" class="card custom-form1 col-4 md:col-4 mb-4" style="width: 10rem; border-radius: 1rem; padding: 0;">
                <img class="card-img-top" src="assets/img/atencionprimaria.png" alt="">
                <div class="row card-body text-center">
                    <a href="">Atencion Primaria</a>
                </div>
            </div>
            <div (click)="goTo('birth')" class="card custom-form1 col-4 md:col-4 mb-4" style="width: 10rem; border-radius: 1rem; padding: 0;">
                <img class="card-img-top" src="assets/img/asistenciapartos.png" alt="">
                <div class="row card-body text-center">
                    <a href="">Asistencia Partos</a>
                </div>
            </div>
            <div (click)="goTo('insemination')" class="card custom-form1 col-4 md:col-4 mb-4" style="width: 10rem; border-radius: 1rem; padding: 0;">
                <img class="card-img-top" src="assets/img/inseminacion.png" alt="">
                <div class="row card-body text-center">
                    <a href="">Inseminación</a>
                </div>
            </div>
            <div (click)="goTo('sterilization')" class="card custom-form1 col-4 md:col-4 mb-4" style="width: 10rem; border-radius: 1rem; padding: 0;">
                <img class="card-img-top" src="assets/img/esterilizacion.png" alt="">
                <div class="row card-body text-center">
                    <a href="">Esterilización</a>
                </div>
            </div>
            <div (click)="goTo('monitoring')" class="card custom-form1 col-4 md:col-4 mb-4" style="width: 10rem; border-radius: 1rem; padding: 0;">
                <img class="card-img-top" src="assets/img/seguimientocontrol.png" alt="">
                <div class="row card-body text-center">
                    <a href="">Seguimiento Control</a>
                </div>
            </div>
        </div>
    </div>
</div>