<div class="zootechnics" method="post">
    <div class="custom-form surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
        <div class="grid">
            <div (click)="goTo('kardex')" class="card custom-form1 col-4 md:col-4 mb-4" style="width: 10rem; border-radius: 1rem; padding: 0;">
                <img class="card-img-top" src="assets/img/kardex.png" alt="">
                <div class="row card-body text-center">
                    <p>Kardex</p>
                </div>
            </div>
            <div (click)="goTo('store')" class="card custom-form1 col-4 md:col-4 mb-4" style="width: 10rem; border-radius: 1rem; padding: 0;">
                <img class="card-img-top" src="assets/img/bodega.png" alt="">
                <div class="row card-body text-center">
                    <p>Bodega</p>
                </div>
            </div>
            <div (click)="goTo('providerList')" class="card custom-form1 col-4 md:col-4 mb-4" style="width: 10rem; border-radius: 1rem; padding: 0;">
                <img class="card-img-top" src="assets/img/listaproveedores.png" alt="">
                <div class="row card-body text-center">
                    <p>Lista Provedores</p>
                </div>
            </div>
        </div>
    </div>
</div>