<!-- <div class="fair" method="post">
    <div class="custom-form surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
        <div class="grid">
            <div class="card custom-form1 col-3 md:col-3 mb-3" style="width: 10rem; border-radius: 1rem; padding: 0;">
                <img class="card-img-top" src="assets/img/evento.png" alt="">
                <div class="row card-body text-center">
                    <p>Evento</p>
                </div>
            </div>
            <div class="card custom-form1 col-3 md:col-3 mb-3" style="width: 10rem; border-radius: 1rem; padding: 0;">
                <img class="card-img-top" src="assets/img/subasta.png" alt="">
                <div class="row card-body text-center">
                    <p>Subasta</p>
                </div>
            </div>
            <div class="card custom-form1 col-3 md:col-3 mb-3" style="width: 10rem; border-radius: 1rem; padding: 0;">
                <img class="card-img-top" src="assets/img/stand.png" alt="">
                <div class="row card-body text-center">
                    <p>Stand</p>
                </div>
            </div>
            <div (click)="goTo('clasification')" class="card custom-form1 col-3 md:col-3 mb-3" style="width: 10rem; border-radius: 1rem; padding: 0;">
                <img class="card-img-top" src="assets/img/stand.png" alt="">
                <div class="row card-body text-center">
                    <p>Clasificaciones</p>
                </div>
            </div>
            <div class="card custom-form1 col-3 md:col-3 mb-3" style="width: 10rem; border-radius: 1rem; padding: 0;">
                <img class="card-img-top" src="assets/img/stand.png" alt="">
                <div class="row card-body text-center">
                    <p>Razas</p>
                </div>
            </div>
            <div class="card custom-form1 col-3 md:col-3 mb-3" style="width: 10rem; border-radius: 1rem; padding: 0;">
                <img class="card-img-top" src="assets/img/stand.png" alt="">
                <div class="row card-body text-center">
                    <p>Patrocinadores</p>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="fair" method="post">
    <div class="custom-form surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
        <div class="grid">
            <div (click)="goTo('event')" class="card custom-form1 col-3 md:col-3 mb-3" style="width: 10rem; border-radius: 1rem; padding: 0;">
                <img class="card-img-top" src="assets/img/evento.png" alt="">
                <div class="row card-body text-center">
                    <p>Evento</p>
                </div>
            </div>
            <div class="card custom-form1 col-3 md:col-3 mb-3" style="width: 10rem; border-radius: 1rem; padding: 0;">
                <img class="card-img-top" src="assets/img/subasta.png" alt="">
                <div class="row card-body text-center">
                    <p>Subasta</p>
                </div>
            </div>
            <div (click)="goTo('stand')" class="card custom-form1 col-3 md:col-3 mb-3" style="width: 10rem; border-radius: 1rem; padding: 0;">
                <img class="card-img-top" src="assets/img/stand.png" alt="">
                <div class="row card-body text-center">
                    <p>Stand</p>
                </div>
            </div>
            <div (click)="goTo('clasification')" class="card custom-form1 col-3 md:col-3 mb-3" style="width: 10rem; border-radius: 1rem; padding: 0;">
                <img class="card-img-top" src="assets/img/stand.png" alt="">
                <div class="row card-body text-center">
                    <p>Clasificaciones</p>
                </div>
            </div>
            <div (click)="goTo('breed')" class="card custom-form1 col-3 md:col-3 mb-3" style="width: 10rem; border-radius: 1rem; padding: 0;">
                <img class="card-img-top" src="assets/img/stand.png" alt="">
                <div class="row card-body text-center">
                    <p>Razas</p>
                </div>
            </div>
            <div (click)="goTo('sponsor')" class="card custom-form1 col-3 md:col-3 mb-3" style="width: 10rem; border-radius: 1rem; padding: 0;">
                <img class="card-img-top" src="assets/img/stand.png" alt="">
                <div class="row card-body text-center">
                    <p>Patrocinadores</p>
                </div>
            </div>
        </div>
    </div>
</div>
