<form [formGroup]="form" class="formulario">
    <button
    mat-mini-fab
    aria-label="Example icon button with a home icon"
    class="bg-black"
    (click)="closeDialog()"
  >
    <mat-icon
      ><span class="material-symbols-outlined"> arrow_back </span></mat-icon
    >
  </button>
  <mat-dialog-content>
    <div class="container">
      <div class="col span1">
        <div>
            <mat-label class="txt-label family-word"> Nombre </mat-label>
            <input
            class="rounded family-word"
            placeholder=""
            formControlName="name"
            matInput
            type="text"
          />
          <div
            class="txt-label family-word error"
            *ngIf="
              form.controls['name'].invalid && form.controls['name'].touched
            "
          >
            Campo inválido.
          </div>
        </div>
      </div>
      <div class="col span1">
        <div>
          <mat-label class="txt-label family-word">Rango de edad</mat-label>
          <input
            class="rounded family-word"
            placeholder=""
            formControlName="ageRange"
            matInput
            type="number"
          />
          <mat-error
            class="txt-label family-word error"
            *ngIf="
              form.controls['ageRange'].invalid &&
              form.controls['ageRange'].touched
            "
          >
            Campo inválido.
          </mat-error>
        </div>
      </div>
      <div class="col span2">
        <div>
          <mat-label class="txt-label family-word"> Descripción </mat-label>
          <textarea
            class="rounded family-word"
            placeholder=""
            formControlName="description"
            matInput
            maxlength="500"
            [rows]="3"
            type="text"
            [readonly]="formViewMode"
          ></textarea>
          <div
            class="txt-label family-word error"
            *ngIf="form.controls['description'].invalid"
          >
            Campo inválido.
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>

  <div class="actions">
    <br />
    <button class="bg-black btn-primary" (click)="save()">
      {{formInsertMode ? "Crear clasificación" : "Editar clasificación"}}
    </button>
  </div>
  <br />
</form>
