<div class="zootechnics" method="post">
    <div class="custom-form surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
        <div class="grid">
            <div (click)="goTo('diet')" class="card custom-form1 col-3 md:col-3 mb-3" style="width: 10rem; border-radius: 1rem; padding: 0;">
                <img class="card-img-top" src="assets/img/alimentacion.png" alt="">
                <div class="row card-body text-center">
                    <p>Alimentacion</p>
                </div>
            </div>
            <div (click)="goTo('development')" class="card custom-form1 col-3 md:col-3 mb-3" style="width: 10rem; border-radius: 1rem; padding: 0;">
                <img class="card-img-top" src="assets/img/crecimientodesarrollo.png" alt="">
                <div class="row card-body text-center">
                    <p>Crecimiento y desarrollo</p>
                </div>
            </div>
        </div>
    </div>
</div>