<div class="fair" method="post">
    <div class="custom-form surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
        <div class="grid">
            <div (click)="goTo('pages/farm')" class="card custom-form1 col-3 md:col-3 mb-3" style="width: 10rem; border-radius: 1rem; padding: 0;">
                <img class="card-img-top" src="assets/img/evento.png" alt="">
                <div class="row card-body text-center">
                    <p>Hacienda</p>
                </div>
            </div>
            <div (click)="goTo('pages/fair')" class="card custom-form1 col-3 md:col-3 mb-3" style="width: 10rem; border-radius: 1rem; padding: 0;">
                <img class="card-img-top" src="assets/img/subasta.png" alt="">
                <div class="row card-body text-center">
                    <p>Feria</p>
                </div>
            </div>
            <div (click)="goTo('pages/supplier')" class="card custom-form1 col-3 md:col-3 mb-3" style="width: 10rem; border-radius: 1rem; padding: 0;">
                <img class="card-img-top" src="assets/img/stand.png" alt="">
                <div class="row card-body text-center">
                    <p>Provedores</p>
                </div>
            </div>
        </div>
    </div>
</div>