<form [formGroup]="form" class="form">
    <div class="container">
      <app-toast
      [color]="toast.color"
      [text]="toast.text"
      [icon]="toast.icon"
      [show]="toast.show"
    ></app-toast>
      <div class="box-logo">
        <div class="back">
            <span (click)="goBackPage()" class="link">
              <img src="../../../../assets/img/icons/Left.svg" alt="regresar" />
              Volver al inicio de sesión <br> <br>
            </span>
            <br><br>
            <p class="family-word">
                Asigna una contraseña nueva para tu ingreso
            </p>
        </div>
      </div>
      <div class="fields">
        <div>
            <mat-label class="txt-label family-word">Nueva Contraseña</mat-label>
            <div class="field">
              <input
                class="family-word"
                placeholder=""
                formControlName="password"
                [type]="fieldTextType ? 'text' : 'password'"
              />
              <img
                (click)="toggleFieldTextType()"
                [src]="
                  fieldTextType
                    ? '../../../assets/img/icons/eye_close.svg'
                    : '../../../assets/img/icons/eye.svg'
                "
                alt=""
              />
            </div>
            <mat-error
              class="txt-label family-word error"
              *ngIf="form.controls['password'].hasError('pattern')"
            >
              La conntraseña debe tener al menos una letra mayúscula, una minúscula, un
              número y un caracter especial.
            </mat-error>
            <mat-error
              class="txt-label family-word error"
              *ngIf="form.controls['password'].hasError('min') || 
               form.controls['password'].hasError('required')"
            >
              Requeridos mínimo 8 caracteres.
            </mat-error>
          </div>

        <div>
          <mat-label class="txt-label family-word">Confirma Nueva Contraseña</mat-label>
          <div class="field">
            <input
              class="family-word"
              placeholder=""
              formControlName="passwordConfirm"
              [type]="fieldTextTypeConfirm ? 'text' : 'password'"
            />
            <img
              (click)="toggleFieldTextTypeConfirm()"
              [src]="
              fieldTextTypeConfirm
                  ? '../../../assets/img/icons/eye_close.svg'
                  : '../../../assets/img/icons/eye.svg'
              "
              alt=""
            />
          </div>
          <mat-error
            class="txt-label family-word error"
            *ngIf="form.controls['passwordConfirm'].hasError('pattern')"
          >
            La conntraseña debe tener al menos una letra mayúscula, una minúscula, un
            número y un caracter especial.
          </mat-error>
          <mat-error
            class="txt-label family-word error"
            *ngIf="form.controls['passwordConfirm'].hasError('min') || 
             form.controls['passwordConfirm'].hasError('required')"
          >
            Requeridos mínimo 8 caracteres.
          </mat-error>
        </div>
  
        <div class="texts family-word">
          <span>Características:</span>
          <ul>
                <li>
                    Mínimo 8 caracteres 
                </li>
                <li>
                    Debe contener caracteres alfanuméricos
                </li>
                <li>
                    Debe contener al menos una letra mayúscula, un número y un signo.
                </li>
          </ul>
        </div>

        <div class="btn-login">
          <button mat-raised-button class="bg-black" (click)="updatePassword()" [disabled]="form.invalid">
            ACTUALIZAR CONTRASEÑA
          </button>
        </div>
      </div>
    </div>
  </form>
