.form {
    padding: 5%;
    .container {
      padding: 2% 10%;
      // border: solid red;
      display: block;
  
      .box-logo {
        display: block;
        justify-content: center;
        // border: solid yellow;
        padding: 10px 30px;
        img {
          max-width: 100%;
        }
        .back{
            // border: solid red;
            display: block;
            padding:0 25% 0 15%;
        }
      }
  
      .fields {
        // border: solid green;
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 18px;
        padding:0 18%;
        .full {
          grid-column-start: 1;
          grid-column-end: -1;
        }
        .span2 {
          grid-column: span 2;
          width: 100%;
          display: block;
        }
        .links {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          align-items: center;
        }
        .btn-login{
          display: flex;
          justify-content: center;
          padding-top: 20px;
        }
        // .passowrd{
        .field{
            border-radius: 8px;
            border: 1.5px solid #000000;
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;

            input {
                width: 100%;
                display: block;
                min-height: 50px;
                border: none;
                border-radius: 8px;
            }
            input:focus{
                // border: solid color white;
                // color: red;
                background-color: transparent;
                border: 0px solid;
                outline: none;
            }
            img{
                cursor: pointer;
            }
        }
        .texts{
            font-size: 14px;
            ul{

                li{
                    margin-left: 15px;
                }
            }
        }
      }
    }
  }
  
  .b-radius {
    border: 1.5px solid #000000;
    box-sizing: border-box;
    border-radius: 8px;
  }
  
  .mat-raised-button.mat-button-disabled.mat-button-disabled{
    color:white
  }
  @media screen and (max-width: 960px) {
    .form {
      padding: 5%;
      .container {
        padding: 0;
        display: block;
        .box-logo {
          padding: 0;
        }
        .fields {
          padding:5%;
        }
      }
    }
  }
  