<div class="zootechnics" method="post">
    <div class="custom-form surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
        <div class="grid">
            <div class="card custom-form1 col-3 md:col-3 mb-3" style="width: 10rem; border-radius: 1rem; padding: 0;">
                <img class="card-img-top" src="assets/img/evento.png" alt="">
                <div class="row card-body text-center">
                    <a href="">Comestible</a>
                </div>
            </div>
            <div class="card custom-form1 col-3 md:col-3 mb-3" style="width: 10rem; border-radius: 1rem; padding: 0;">
                <img class="card-img-top" src="assets/img/atencionprimaria.png" alt="">
                <div class="row card-body text-center">
                    <a href="">Implementos</a>
                </div>
            </div>
            <div class="card custom-form1 col-3 md:col-3 mb-3" style="width: 10rem; border-radius: 1rem; padding: 0;">
                <img class="card-img-top" src="assets/img/stand.png" alt="">
                <div class="row card-body text-center">
                    <a href="">Stand</a>
                </div>
            </div>
            <div class="card custom-form1 col-3 md:col-3 mb-3" style="width: 10rem; border-radius: 1rem; padding: 0;">
                <img class="card-img-top" src="assets/img/stand.png" alt="">
                <div class="row card-body text-center">
                    <a href="">Stand</a>
                </div>
            </div>
        </div>
    </div>
</div>