.title{
  font-size: 18px;
}
.mat-dialog-content{
  .container {
    display: grid;
    grid-gap: 15px;
    grid-row-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  
    .full {
      grid-column-start: 1;
      grid-column-end: -1;
    }
    .span2 {
      grid-column: span 2;
      width: 100%;
      display: block;
    }
    .formControl {
      width: 100%;
      display: block;
    }
    input{
      width: 100%;
      display: block;
    }
    .mat-form-field {
      width: 100%;
      display: block;
    }
    .box-file {
      display: flex;
      justify-content: flex-start;
      gap: 20px;
      b {
        display: flex;
        align-items: center;
      }
    }
  }
  .catalogs {
    max-height: 200px;
    min-height: auto;
    overflow: hidden;
    overflow-y: auto;
    hr{
      border-top: #E0E0E0;
    }
    .box-check {
      // overflow: scroll;
      padding: 0 20px;
      ::ng-deep mat-checkbox {
        // background-color: pink;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        .mat-checkbox-label {
          display: grid;
          width: 100% !important;
          grid-template-columns: 200px 1fr;
          text-align: left;
          // border: solid blue;
          p {
            margin: auto 0;
            text-align: left;
            font-size: 0.9rem;
            font-weight: 500;
            color: #000000;
          }
        }
      }
    }
  }
}
.mat-dialog-actions{
  gap: 60px
}
.black{
  color: #000000;
  font-weight: 550;
}

@media screen and (max-width: 960px) {
  .mat-dialog-content{
    .container {
      grid-template-columns: 1fr;
      .span2 {
        grid-column: span 1;
      }
    }
    .catalogs {
      ::ng-deep.mat-checkbox-layout {
        white-space: normal !important;
      }
      .box-check {
        ::ng-deep mat-checkbox {
          .mat-checkbox-label {
            // background-color: red;
            grid-template-columns: 1fr;
          }
        }
      }
    }
  }
  .mat-dialog-actions{
    gap: 0px
  }
}
