<br><br>
<div class="container" >
  <mat-icon class="icon-add" (click)="createPen()">add</mat-icon>
  <mat-icon class="arrow-top">expand_less</mat-icon>
  <div *ngFor="let pen of pensList; index as i;">
    <div class="box-item">
      <p>{{i+1}}. {{pen.name}}</p> 
      <div>
        <mat-icon aria-label="Editar corral" (click)="updatePen(pen)">edit_square</mat-icon>
        <mat-icon aria-label="Eliminar corral" (click)="deletePen(pen)">delete</mat-icon>
      </div>
    </div>
  </div>
  <div *ngIf="pensList.length === 0" >
    <h3>No hay registros en la página actual.</h3>
  </div>
  <mat-icon class="arrow-bottom">expand_more</mat-icon>
  <p-paginator [rows]="10" [totalRecords]="26"  (onPageChange)="paginate($event)"></p-paginator>
</div>
