<div class="zootechnics" method="post">
    <div class="custom-form surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
        <div class="grid">
            <div (click)="goTo('admin')" class="card custom-form1 col-3 md:col-3 mb-3" style="width: 10rem; border-radius: 1rem; padding: 0;">
                <img class="card-img-top" src="assets/img/administracion1.png" alt="">
                <div class="row card-body text-center">
                    <p>Administracion</p>
                </div>
            </div>
            <div (click)="goTo('production')" class="card custom-form1 col-3 md:col-3 mb-3" style="width: 10rem; border-radius: 1rem; padding: 0;">
                <img class="card-img-top" src="assets/img/produccion.png" alt="">
                <div class="row card-body text-center">
                    <p>Produccion</p>
                </div>
            </div>
            <div (click)="goTo('breeding')" class="card custom-form1 col-3 md:col-3 mb-3" style="width: 10rem; border-radius: 1rem; padding: 0;">
                <img class="card-img-top" src="assets/img/crianza.png" alt="">
                <div class="row card-body text-center">
                    <p>Crianza</p>
                </div>
            </div>
            <div (click)="goTo('zootechnics')" class="card custom-form1 col-3 md:col-3 mb-3" style="width: 10rem; border-radius: 1rem; padding: 0;">
                <img class="card-img-top" src="assets/img/zootecnia.png" alt="">
                <div class="row card-body text-center">
                    <p>Zootecnia</p>
                </div>
            </div>
        </div>
    </div>
</div>