.box-content{
    h1{
        font-weight: 400;
    }
    padding: 30px 5%;
}
.mat-tab-nav-bar{
    width: 50%;
    a{
        color:black;
        font-weight: 600;
    }
}

.mat-tab-nav-bar, .mat-tab-header {
    border-bottom: 0px;
}


@media screen and (max-width: 960px) {
    .mat-tab-nav-bar{
        width: 100%;        
    }
}