<div class="table">

  <div class="global-filter">
    <mat-form-field class="example-form-field" appearance="fill">
      <span class="p-input-icon-right mr-auto"> <i class="pi pi-search filter-icon"></i>
      <input matInput (input)="filterData($event)" placeholder="Buscar cliente..." type="text"></span>
    </mat-form-field>
    
    <!--<span class="p-input-icon-right mr-auto">
      <i class="pi pi-search filter-icon"></i>
      <input  pInputText type="text" class="filter-input" (input)="filterData($event)" placeholder="Buscar cliente..." />
    </span>-->
  </div>
  <!--<input #search class="search" type="text" placeholder="Search..." (keydown.enter)="onSearch(search.value)">
  <ng2-smart-table [settings]="settings" [source]="displayData"></ng2-smart-table>-->
  <mat-tab-group mat-align-tabs="left" (selectedTabChange)="selectTab($event)">
    <div *ngFor="let item of subMenu">
      <mat-tab label={{item.name}}>

        <p-table tableStyleClass="tableBorder" [value]="displayData" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[10,20,30]"
          [responsive]="true" [globalFilterFields]="['CodigoCliente', 'Codigo', 'CodigoGerencia', 'Gerencia', 'Cargo']" sortField="Direccion" [sortOrder]="-1">

          <ng-template pTemplate="header">
            <tr>
              <th *ngFor="let col of cols" pSortableColumn={{col.field}}>
                {{col.header}}
                <!--<button *ngIf="col.field == 'Columnas'" type="button" class="col-btn" (click)="selectCols()"><i class="pi pi-plus"></i></button>-->

                <!--Default Columns filter
                <p-columnFilter type="text" *ngIf="col.field != 'Color' && col.field != 'Cargo' && col.field != 'Columnas'" field={{col.field}} display="menu">
                </p-columnFilter>-->

                <!--Filter for Charges-->
                <p-columnFilter  [showOperator]="false" [showAddButton]="false" *ngIf="col.field == 'Cargo' && menuItem== 'CARGO'" field="Cargo" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                  <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                      <p-multiSelect [options]="charges" placeholder="Todos" (onChange)="filterCharges($event.value)" optionLabel="Cargo" [(ngModel)]="auxCharges">
                          <ng-template let-option pTemplate="item">
                              <div class="p-multiselect-representative-option"> 
                                  <span class="ml-1">{{option.Cargo}}</span>
                              </div>
                          </ng-template>
                      </p-multiSelect>
                  </ng-template>
              </p-columnFilter>

              <!--Filter for Columns-->
              <p-columnFilter [showMatchModes]="true" [showOperator]="false" [showAddButton]="false" *ngIf="col.field == 'Columnas'" field="Cargo" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                    <p-multiSelect [ngModel]="value" [options]="hiddenCols" placeholder="Todos" (onChange)="showColumns($event.value)" optionLabel="Columnas"  [(ngModel)]="cols"  >
                        <ng-template let-option pTemplate="item">
                            <div class="p-multiselect-representative-option">
                                <span class="ml-1">{{option.field}}</span>
                            </div>
                        </ng-template>
                    </p-multiSelect>
                </ng-template>
            </p-columnFilter>

              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-displayData>
            <tr>
              <td *ngFor="let col of cols">
                <p *ngIf="col.field != 'Color'">{{displayData[col.field]}}</p>
                <p *ngIf="col.field == 'Color'">
                  <span class="badge" [ngStyle]="{'background-color': displayData[col.field]}"></span>
                </p>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="footer">
            <tr *ngIf="menuItem === 'GERENCIA'">
              <td colspan="3" class="text-right">Totales</td>
              <td>Total Head Counts: {{sumHeadCount}}</td>
              <td>Total Clientes: {{sumCustomers}}</td>
              <td>Total Visitas: {{sumVisits}}</td>
              <td>Productividad: {{sumProductivity | number : '1.0-0' }}%</td>
            </tr>
          </ng-template>
        </p-table>

      </mat-tab>
    </div>

  </mat-tab-group>

  <!-- <table mat-table *ngIf="dataSource" [dataSource]="displayData">

   <ng-container *ngFor="let dynamicColumn of displayedColumns" [matColumnDef]="dynamicColumn">
      <div>
        <th mat-header-cell *matHeaderCellDef  > {{dynamicColumn}} </th>
      </div>

      <td mat-cell *matCellDef="let element"> {{element[dynamicColumn]}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>-->

</div>